@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/media" as *;

.notfound {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $p-1;
  min-height: 100vh;
  text-align: center;

  &__icon {
    font-size: 100px;
    color: var(--black);
    font-family: $font-secondary;
  }

  &__text {
    font-family: $font-secondary;
    font-weight: $font-w-400;
    font-size: 72px;
    color: var(--black);
  }

  &__link {
    @include button-home;
  }

  @include tablet {
    &__icon {
      font-size: 72px;
    }

    &__text {
      font-size: 42px;
    }
  }

  @include mobile {
    &__icon {
      font-size: 60px;
    }

    &__text {
      font-size: 32px;
    }
  }
}
