@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/media" as *;

.lang-switcher {
  color: var(--black);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;

  @include transition;

  &:hover {
    border-color: var(--black);
  }
}
