@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/media" as *;

.accessories-page {
  background-color: var(--white);
  min-height: 100vh;
  padding-top: $p-4;

  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: $p-4 $p-2;
    display: flex;
    flex-direction: column;
    gap: $p-2;
  }

  &__backlink {
    font-family: $font-primary;
    color: var(--dark-gray);
    text-decoration: none;
    @include transition;
    align-self: flex-start;

    &:hover {
      color: var(--black);
    }
  }

  &__hero {
    &__title {
      font-family: $font-secondary;
      font-size: 32px;
      color: var(--black);
      text-align: center;
      margin-top: $p-1;
    }

    &__subtitle {
      font-family: $font-primary;
      font-size: 16px;
      color: var(--dark-gray);
      text-align: center;
      margin-top: $p-1;
    }
  }

  &__cards {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: $p-4;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 350px;
      padding: $p-1 $p-3;
      border: none;
      border-radius: 8px;
      @include transition;

      &__title {
        font-family: $font-secondary;
        font-size: 32px;
        color: var(--black);
      }

      &__image {
        max-width: 70px;
        height: auto;
        @include transition;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__products {
    margin-top: $p-4;

    &__title {
      font-family: $font-secondary;
      font-size: 32px;
      color: var(--black);
      text-align: center;
      margin-bottom: $p-2;
    }
  }

  &__loading {
    margin-top: $p-4;
    padding: $p-2;
    text-align: center;
    color: var(--dark-gray);
  }

  &__error {
    color: var(--red);
    text-align: center;
    margin-top: $p-1;
  }

  @include tablet {
    &__cards {
      flex-direction: column;
      align-items: center;
    }
  }

  @include mobile {
    &__hero {
      &__title {
        font-size: 24px;
      }

      &__subtitle {
        font-size: 14px;
      }
    }

    &__cards {
      &__item {
        max-width: 100%;
        padding: $p-1;

        &__title {
          font-size: 24px;
        }

        &__description {
          font-size: 14px;
        }
      }
    }
  }
}
