@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
}
