@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

//fonts
$font-primary: "Josefin Sans", sans-serif;
$font-secondary: "Caveat", cursive;
$font-w-400: 400;
$font-w-600: 600;
$font-w-700: 700;

//spacing
$p-0-5: 0.5rem;
$p-0-75: 0.75rem;
$p-1: 1rem;
$p-1-5: 1.5rem;
$p-2: 2rem;
$p-2-5: 2.5rem;
$p-3: 3rem;
$p-3-5: 3.5rem;
$p-4: 4rem;
$p-4-5: 4.5rem;
$p-5: 5rem;

:root {
  --white: #ffffff;
  --darker-white: #f5f5f5;
  --black: #202c37;
  --gray: #d0d0d0;
  --dark-gray: #747f8d;
  --light-gray: #aaa;
  --green: #1f8f3a;
  --red: #c0392b;

  --visa: #1a1f71;
  --mastercard: #eb001b;
  --amex: #2e77bb;
  --discover: #ff6000;
  --apple: #000000;
  --google: #4285f4;
  --paypal: #003087;

  --shadow-nav: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-footer: 0px -2px 4px rgba(0, 0, 0, 0.1);

  --filter-logo: brightness(0) saturate(100%) invert(0%) sepia(100%)
    saturate(7500%) hue-rotate(214deg) brightness(112%) contrast(110%);

  --filter-map: none;

  --error: #d64545;
}

[data-theme="dark"] {
  --white: #202c37;
  --darker-white: #1e1e1e;
  --black: #dbdee1;
  --gray: #3f4248;
  --dark-gray: #949ba4;
  --light-gray: #6d6f78;
  --green: #1f8f3a;
  --red: #c0392b;

  --visa: #1a1f71;
  --mastercard: #eb001b;
  --amex: #2e77bb;
  --discover: #ff6000;
  --apple: #000000;
  --google: #4285f4;
  --paypal: #003087;

  --shadow-nav: 0px 2px 8px rgba(0, 0, 0, 0.4);
  --shadow-footer: 0px -2px 8px rgba(0, 0, 0, 0.4);

  --filter-logo: brightness(0) saturate(100%) invert(99%) sepia(0%)
    saturate(43%) hue-rotate(94deg) brightness(123%) contrast(100%);

  --filter-map: grayscale(100%) invert(92%) contrast(85%);

  --error: #ff7b7b;
}
